html {
  background-image: url("images/background.png");
  background-position: center;
}

button {
  border: 5px solid #0a0a0a2e;
  height: 200px;
  width: 200px;
  background-color: #90c9c0;
  text-decoration: none;
  border-radius: 100%;
  margin-right: 60px;
  margin-top: 30px;
  box-shadow: 5px 6px 1px #0a0a0a2e;
}
button:focus {
  outline: 0;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#scissors:hover {
  transition: all .04s ease;
  transform: scale(1.1);
  border-color: #e36844;
}

#paper:hover {
  transition: all .04s ease;
  transform: scale(1.1);
  border-color: #efa449;
}

#rock:hover {
  transition: all .04s ease;
  transform: scale(1.1);
  border-color: #1376d8;
}
