html {
  background-image: url("images/background.png");
  background-position: center;
}

button {
  border: 5px solid #0a0a0a2e;
  height: 200px;
  width: 200px;
  background-color: #90c9c0;
  text-decoration: none;
  border-radius: 100%;
  margin-right: 60px;
  margin-top: 30px;
  box-shadow: 5px 6px 1px #0a0a0a2e;
}
button:focus {
  outline: 0;
}
 #reload {
  background-color: #3e9f3e;
}

.container {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#scissors:hover {
  transition: all .04s ease;
  transform: scale(1.1);
  border-color: #e36844;
}

#paper:hover {
  transition: all .04s ease;
  transform: scale(1.1);
  border-color: #efa449;
}

#rock:hover {
  transition: all .04s ease;
  transform: scale(1.1);
  border-color: #1376d8;
}

#reload:hover {
  transition: all .04s ease;
  transform: scale(1.1);
  border-color: white;
}

.user {
  background-image: url("images/person.png");
  left: 350px;
}

.computer {
  background-image: url("images/computer.jpg");
  right: 350px;
}

.user,
.computer {
  border-radius: 100%;
  border: 3px solid #0a0a0a2e;
  background-color: #3094f8;
  position: absolute;
  height: 250px;
  width: 250px;
  box-shadow: 5px 6px 1px #0a0a0a2e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px;
  top: 300px;
}

.scoreContainer {
    position: relative;
    top: 130px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#score {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  color: #00f7fb;
  text-shadow: 4px 3px #0a0a0a2e;
}
